<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'projects' class="navbar-brand"}}2-DO{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= render 'shared/main_nav' %>
      <%= render 'shared/search_form' %>
      <%= render 'shared/user_nav' %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>