<h1 class="section-title">Projects <small>(working)</small></h1>
  
<div class="row container-fluid" id="projects-list">
  {{#each}}
    {{#link-to 'project' this class="col-md-2 project"}}
      {{name}}
      {{tasks.length}}
    {{/link-to}}
  {{/each}}
</div>