// mixins
@mixin centralize($width) {
  width: $width;
  display: block;
  margin: 0 auto;
}

// application
html {
  height: 100%;
  background-color: #6f5499;
  background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
  background-repeat: repeat-x;
}
#app-container {
  width: 100%;
  float: left;
  padding: 10px 20px;
  margin: 0;

  h1.section-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
    small { color: #ccc; }
  }
  input, textarea, button {
    font-size: 16px;
  }
  button { text-transform:lowercase; }
  button.btn-success { border-bottom: 3px solid #42a042; }
}
.hidden { display: none !important; }
.clear { clear: both; }

// projects
#projects-list {
  padding: 20px 20px 0;
  
  li.project {
    position: relative;
    height: 80px;
    padding: 10px;
    margin: 0 20px 20px 0;
    border-bottom: 3px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    font-size: 1.2em;
    list-style: none;
    
    &:hover {
      background-color: #f1f1f1;
      border-color: #999;
    }
    &.hovered button.btn-danger { display: block !important; }
    a.project-link {
      float: left;
      width: 100%;
      height: 100%;
      color: #333;
      text-decoration: none;

      small.task-counter {
        position: absolute;
        bottom: 10px;
        left: 10px;
        padding: 3px 5px;
        background-color: #5cb85c;
        border-radius: 6px;
        color: #fff;
        font-size: 12px;
      }
      button.btn-danger {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 25px;
        height: 25px;
        display: none;
        
        span.glyphicon-trash {
          position: relative;
          left: -8px;
          top: -3px;
        }
      } // button.btn-danger
    } // a.project-link
  } // li.project
} // #projects-list 

#project-errors {
  padding: 5px 5px 5px 26px !important;
}

// project
.section-title form#project-form {
  margin-bottom: 20px;
}
#project-actions {
  position: absolute;
  right: 0;
  top: -4px;

  li { 
    list-style: none;
    display: inline-block;
  }
}
#tasks-tabs {
  margin-bottom: 20px;
  a, li.active a { color: #fff; }
  a:hover { color: #666; }
}
#project-tasks {
  border-radius: 6px;
  background-color: #fff;
}
#add-new-task {
  width: 100%;
  text-align: center;
}
#new-task {
  border: none;
  outline: none;
}