<!DOCTYPE html>
<html>
<head>
  <title>AgbApplication</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
